@import url("./base/reset.css");
@import url("./base/variables.css");

@import url("./components/buttons.css");
@import url("./components/players.css");
@import url("./components/modal.css");
@import url("./components/ranking.css");

@import url("./pages/home.css");
@import url("./pages/admin.css");

